<component name="ArtifactManager">
  <artifact type="war" name="spring-source:war">
    <output-path>$PROJECT_DIR$/../spring/spring-source/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-source</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-source.war">
      <element id="artifact" artifact-name="spring-source:war exploded" />
    </root>
  </artifact>
</component>